body {
  background: #ECF9FF;
  background: linear-gradient(0deg, hsla(199, 100%, 96%, 1) 0%, hsla(48, 100%, 96%, 1) 98%);
  min-height: 100vh;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: aliceblue;
}

.form-header {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}

.form-box {
  background-color: #FFFF;
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  padding: 1.5rem;
}

.form-help-button {
    cursor: pointer;
    color: #888;
    font-weight: 600;
    border-radius: 50%;
    border: 2px solid darkgray;
    height: 25px;
    width: 25px;
    margin-top: 3px;
    margin-left: 15px;
  }  

fieldset {
    background-color: #fff;
    border: 1px solid #262353;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

.form-item {
    padding: 0.5rem;
}

.form-input-help {
    padding-top: 0.2rem;
}

input {
    width: 90%;
    height: 1.5rem;
}

.radio-box {
    padding-top: 0.5rem;
}

.radio {
    width: auto;
    margin-right: 1rem;
    height: auto;
}

.checkbox-box {
    padding-top: 0.5rem;
}

.checkbox {
    width: auto;
    height: auto;
}

textarea {
    width: 90%;
    height: 4rem;
}

.save-load-button {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}


/** Form modal styling */

.modal-wrap {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    z-index: 9991;
  }
  
  .modal-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9992;
    background-color: #fff;
    border: 1px solid black;
    width: 90vw;
    max-height: 90vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
  }
  
  .modal-close {
    text-align: center;
    padding: 2px;
  }


@media only screen and (min-width: 760px) {
    .form-header {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
    .form-box {
        max-width: 760px;
        border-radius: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    .form-footer {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
}